$bg: linear-gradient(to top right, rgb(15,230,119) 0%, rgb(0,212,255) 100%);
$main : white;

$bold: 700;
$regular: 500;
$light: 300;

*{
  box-sizing: border-box;
}
body{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  div.choose{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: $bg;
    opacity: 1;
    transition: opacity 300ms ease;


    h1{
      color: $main;
      font-weight: $bold;
      position: absolute;
      top: 20%;
      left: 50%;
      font-size: 5vw;
      transform: translate(-50%,-50%);
    }

    form{
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      display: flex;
      flex-direction: column;

      div{
        position: relative;
        width: 40vw;
        max-width: 400px;
        height: 4vh;
        margin-bottom: 50px;


        input{
          font-family: "Montserrat", sans-serif;
          width: 100%;
          height: 100%;
          background: none;
          border: none;
          outline: none;
          border-bottom: 1px white solid;
          color: $main;
          padding: 5px 10px;
          font-size: 2vw;

          &:empty + div.placeholder,
          &:invalid + div.placeholder{
            display: flex;
            align-items: center;
            position: absolute;
            transform: translateY(-100%);
            transition: transform 300ms ease;
            color: white;
            opacity: 0.6;
            pointer-events: none;

            i,
            img,
            span.legend{
              font-size: 2vw;
              line-height: 2vw;
              width: 2vw;
              margin: 0vw .7vw;
              transition: all 300ms ease;
            }
            span.legend{
              text-transform: uppercase;
            }
            span.placeholder{
              font-size: 2vw;
              line-height: 2vw;
              transition: all 300ms ease;
            }
          }


          &:focus + div.placeholder,
          &:valid + div.placeholder{
            transform: translateY(-175%);
            transition: transform 300ms ease;

            .placeholder{
              font-size: 1.5vw;
              line-height: 1.5vw;
              transition: all 300ms ease;
            }

            i,
            img,
            span.legend{
              font-size: 1.5vw;
              line-height: 1.5vw;
              width: 1.5vw;
              margin: 0vw .4vw 0 0;
              transition: all 300ms ease;
            }
          }
        }

      }
      button{
        z-index: 10;
        pointer-events: all;
        cursor: pointer;
        width: 40vw;
        max-width: 400px;
        height: 4vh;
        border: none;
        background: rgba(0,0,0,.2);
        border-radius: 100000px;
        color: $main;
        font-size: 2vw;
        font-weight: $regular;
        text-transform: uppercase;
        font-family: "Montserrat", sans-serif;
        outline: none;
      }
    }
  }
}
