$bg: linear-gradient(to top right, rgb(15,230,119) 0%, rgb(0,212,255) 100%);
$main : white;

$bold: 700;
$regular: 500;
$light: 300;

*{
  box-sizing: border-box;
}

 body{
   position: relative;
   padding: 0;
   margin: 0;
   width: 100vw;
   height: 100vh;
   font-family: "Montserrat", sans-serif;
   overflow: hidden;

   -webkit-touch-callout: none;
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;


  .section{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    background: $bg; //DEFAULT

   .parameters{
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
     top: 70vh;
     left: 0;
     height: 10vh;
     transform: translate(-50%,100%);
     color: $main;
     font-size: 2vw;

     i{
       font-size: 3vw;
       width: 4vw;
       height: 4vw;
       text-align: center;
       line-height: 4vw;
       border-radius: 100%;
       border: $main solid 1px;
     }
     i.editBtn{
       font-size: 2vw;
       cursor: pointer;
     }
     i.playPauseBtn{
       margin: 0px 1vw 0px 3vw;
       cursor: pointer;
     }
   }

   .container{
     //font-weight: $light;
     position: relative;
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     top: 50%;
     left: 50%;
     transform: translate(-50%,-50%);
     width: 50vw;
     height: 50vw;
     max-width: 75vh;
     max-height: 75vh;
     border-radius: 100%;
     border: rgba(0,0,0,0.1) solid 2.5px;


     color: $main;
     background-color: rgba(0,0,0,0.1);

     .restTime,
     .countdownToRestTime{
       position: absolute;
       top: 30%;
       left: 50%;
       transform: translate(-50%,-50%);
       display: flex;
       align-items: center;
       line-height: 2vw;
       font-size: 2vw;
       color: transparentize($main, 0.2);
       transition: all 500ms;
     }
     .restTime i{
       line-height: 2vw;
       font-size: 2vw;
       margin-right: .5vw;
     }
     .countdownToRestTime img{
       width: 2vw;
       width: 2vw;
       margin-right: .5vw;
       opacity: .8;
       transition: opacity 500ms;
     }

     .countdown,
     .restTimeToCountdown {
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-50%);
       display: flex;
       align-items: center;
       justify-content: center;
       line-height: 9vw;
       font-size: 9vw;
       transition: all 500ms;
     }
     .countdown img{
       width: 2vw;
       width: 0vw;
       opacity: 0;
       transition: opacity 500ms;
     }
     .restTimeToCountdown i{
       line-height: 2vw;
       font-size: 0vw;
       opacity: 0;
       transition: opacity 300ms;
     }

       .nbRepeats{
       position: absolute;
       top: 70%;
       left: 50%;
       transform: translate(-50%,-50%);
       display: flex;
       align-items: center;
       font-size: 2vw;
       color: transparentize($main, 0.2);
       //font-weight: $light;
       transition: all 500ms;

       &:before{
         content : "x";
       }
     }

     .background{
       img,i{
         opacity: 0.1;
         transform-origin: top left;
         transform: scale(0) translate(-50%, -50%);
         z-index: -5;
         position: absolute;
         width: 35vw;
         top: 50%;
         left: 50%;
         transition: opacity 300ms;

         &.active{
            transform: scale(1) translate(-50%, -50%);
            transition: transform 300ms;
         }
       }
       i{
         line-height: 35vw;
         font-size: 35vw;
       }
     }
   }
 }

   .navInfo{
     color: transparentize($main,0.6);
     position: fixed;
     bottom: 0;
     left: 50%;
     transform: translate(-50%,-10px);
     font-size: 3vw;

     .active{
       color: $main;
     }
     .navPoint{
       &::after{
         content:"  ";
       }
       &:last-child{
         &::after{
           content:"";
         }
       }
     }
   }

 }

.svgContainer{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  svg{
    transform: rotate(-90deg);
    overflow: visible;
    width: 100%;
    height: 100%;

    circle{
      fill: none;
      stroke-dasharray: calc(3.14 * 2 * 250);
      stroke-dashoffset: calc(3.14 * 2 * 250);
      transition: stroke-dashoffset 300ms;
    }
  }

}
@media (min-width : 1000px){
  .choose{
    h1{
      top: 10% !important;
    }
    #form{
      div {
        margin-bottom: 75px;
        input {
          font-size: 26px;

          & + div.placeholder,
          & + div.placeholder
          {
            transform: translateY(-210%);
            span,i{
              font-size: 22px;
            }
            img{
              width: 22px;
            }
          }
        }
      }
      #submitBtn{
        font-size: 22px;
      }
    }
  }
  .section{
    .container{
      top: 40% !important;
      width: 25vw !important;
      height: 25vw !important;
      .countdown,
      .restTimeToCountdown{
        font-size: 90px !important;
      }
      .background{
        img,i{
          width: 17.5vw !important;
          font-size: 17.5vw !important;
        }
      }
    }
    .parameters{
      transform-origin: center left !important;
      transform: translate(-150%, 50%) !important;
      top: 70% !important;
      left: 50% !important;
    }
  }
}
